.topnav {
  display: block;
  width: 90%;
  margin: auto;
  overflow: hidden;
  background-color: #242845;
  position: relative;
}

.topnav #myLinks {
  display: none;
  animation-name: opa;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  animation-duration: 1s;
}

.topnav a {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
  border: 1px solid rgb(121, 119, 119);
  transition: all 200ms ease-in;
  
}
.topnav a:hover {
  letter-spacing: 1px;
  color: #9776ba;
}

.topnav a.icon {
    
  position: absolute;
  border: none;
  right: 0;
  top: 0;
  font-size: 2rem !important;
}

.main-main {
  background-color: #3f3351;
}
i {
  font-size: 2.2rem !important;
}

@keyframes opa {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100%;
  }
}
@media screen and (max-width: 600px) {
.topnav #myLinks a{
  font-size: 1.3rem;
}
.topnav a {
  text-align: center;
  padding: 10px 0 ;
}
}

#click{
  padding: 2rem;
  color: white;
  text-decoration: underline;
  line-height: 4rem;
  word-spacing: 0.1rem;
  padding: 1rem;
  margin-bottom: 2rem;

  text-align: center;
}
.note{
  padding: 1rem 3rem;
  background: rgb(86, 123, 153);
  text-align: center;

}
#hello{
  padding-top: 6rem;
}